body {
     margin: 0;
    font-family: "roboto", sans-serif;
}

#topo {
    min-height: 100vh;
    background: #0b1a51;
    background: linear-gradient(90deg,rgba(11, 26, 81, 1) 0%, rgba(18, 105, 255, 1) 
    50%, rgba(11, 26, 81, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 20px;
    flex-wrap: wrap;
    text-align: center;
}

.logo img {
    width: 220px;
    height: 80px; 
    position: absolute; 
    left: 75px; 
    top: 50px;
    
}

.conteudo h1 {
   
    color: #fff;
    font-size: 80px;
    margin: 0;
   
    
}

.conteudo h2 {
    color: #fff;
    font-size: 35px;
    margin: 10px 0 20px;
     
}

.btn-60 {
    border: 1px solid #fff;
    padding: 15px 20px;
    border-radius: 30px;
    background-color: #0dfa05;
    font-weight: bold;
    font-size: 25px;
    color: #020202;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
    
}

.btn-60:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 0 #000;
}

.imagem img {
    width: 440px;
    max-width: 100%;
}

#rodape p {
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
}

/* RESPONSIVO PARA CELULAR */
@media (max-width: 768px) {

    #topo {
        flex-direction: column;
    }
    .logo img {
    width: 230px;
    height: 80px;
    
}

    .conteudo h1 {
        font-size: 2.8rem;
        
    }

    .conteudo h2 {
        font-size: 1.4rem;
    }

    .imagem img {
        width: 300px;
        margin-top: 10px;
    }
}
